/*Anand kandel UN ID:17421480*/
section{            /*css for the section part*/
  display: flex;
  justify-content: space-around;
}

.messageme{          /*css for the div about personal details of visitors*/
  padding: 1%;
  width: 30%;
}


.container{              /*this is for using flex-box*/
  width:70%;
  display: flex;
}

.container-flex{             /*this is for using flex-box*/
  width:300px;
  margin:10px;
  height: 100px;
}

.container-flex p{         /*this is for using flex-box*/
  color: white;
}

.container-flex p a{             
  color: white;
}



@media (max-width: 1200px){            /*it is making the website responsive*/
    section, .container {
    flex-direction: column;
  }
}
