/*Anand kandel UN ID:17421480*/
section{            /*css for the section part*/
  display: flex;
  justify-content: space-around;
}

.messageme{          /*css for the div about personal details of visitors*/
  padding: 1%;
  width: 30%;
}

.someinfo{       /*css for the div about PD for managing the nargins*/
  padding: 5%;
  width: 70%;
  text-align: center;
}

.someinfo p a{
  color: white;
}

.someinfo p{           /*css for the paragraph of contact informations */
  color: white;
}
