/*Anand kandel UN ID:17421480*/
.info{             /*css for managing the cv part*/
  padding: 2%;
  margin-bottom: auto;
}

.info .minedetail h2{  /*css for the heading curriculum vitae*/
  color: #ffffe6;
  letter-spacing: 3px;
  font-family: monospace,serif;
  font-size: 2em;
  display: block;
  margin-bottom: 3px;
  margin-top: 1px;
}

.minedetail h3{                /*css for the heading personal data*/
  text-decoration: underline;
  font-family: monospace,serif;
  margin-bottom: 5px;
  letter-spacing: 1px;
}

.info .minedetail  .hello{          /*css for the div and another div inside main div*/
  letter-spacing: 1px;
  font-family: monospace,serif;
  display: block;
  margin-bottom: auto;
}
.info .minedetail .hello img{             /*css for the image*/
  height: 100px;
  width: 100px;
  border:2px solid black;
  position:relative;
  display: block;
  padding: 0%;
}

.info .educationdetail{                   /*css for the div  education*/
  font-family: monospace,serif;
  letter-spacing: 1px;
  margin-bottom: 0px;
}

.info .educationdetail h3 {              /*css for the heading education*/
  text-decoration: underline;
  font-family: monospace,serif;
  letter-spacing: 1px;
  margin-bottom: 5px;
  margin-top: 1%;
}

.info .educationdetail .edu{             /*css for the div and another div inside main div*/
  letter-spacing: 1px;
  display: block;
  margin-top: 2px;

}

.info .educationdetail h3 p{
  margin-bottom: 10px;
}
.info .present h3{                        /*css for the heading coursework*/
  text-decoration: underline;
  font-family: monospace,serif;
  letter-spacing: 1px;
  margin-bottom: 5px;
  margin-top: 1%;
}
.info .present p{
  letter-spacing: 1px;
  margin-top: 0px;
  display: block;
  font-family: monospace,serif;
}

.info .capability h3{                  /*css for the heading skills*/
  text-decoration: underline;
  font-family: monospace,serif;
  margin-bottom: 5px;
  letter-spacing: 1px;
  margin-top: 1%;
}

.info .capability p{
  letter-spacing: 1px;
  font-family: monospace,serif;
  margin-top: 0px;
  display: block;
}

.info .interns h3{               /*css for the heading professional experience*/
  text-decoration: underline;
  font-family: monospace,serif;
  letter-spacing: 1px;
  margin-bottom: 5px;
  margin-top: 1%;
}

.info .interns P{
  letter-spacing: 1px;
  font-family: monospace,serif;
  margin-top: 0px;
  display: block;
}

.info .hobby h3{                     /*css for the heading hobbies*/
  text-decoration: underline;
  font-family: monospace,serif;
  letter-spacing: 1px;
  margin-bottom: 5px;
  margin-top: 2%;
}

.info .hobby p{
  letter-spacing: 1px;
  font-family: monospace,serif;
  margin-top: 0px;
  display: block;
}

section .info{            /*flex properties used but not for displaying on row but for column;*/
  display:flex;
  flex-direction: column  ;
}

/*in some css font-family: monospace, serif; to make the text look attractive and letter spacing have been used too*/
