/*Anand kandel UN ID:17421480*/
.headtext{                              /*this is css for the div heading*/
  text-align: center;
  font-family: 'Baloo Bhaina', cursive;
  font-size: 3em;
  color: white;
  text-shadow: 1px 5px skyblue;
  padding: 0.1%;
  margin-top: 0px;
  margin-bottom: auto;
}

header {                 /*this css is for the header part*/
  padding: 0.1%;
  margin-top: auto;
}

.article-image{  /*this is css for the div containing image*/
  height: 400px;
}

.article-image img{      /*this css is for giving a change on image*/
  margin: auto;
  display: block;
  height: 300px;
  width: 300px;
  border:2px solid black;
  border-radius: 50%;
  position: relative;
  animation-name: success;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  transition: transform 2s, opacity 2s;
}
@keyframes success {                /*this is for animation*/
  0%{left:0px; top: 0px;}
  25%{left: 300px; top: 0px;}
  50%{left: 300px; top: 120px;}
  75%{left: 0px; top: 120px;}
  100%{left: 0px; top: 0px;}
}

.article-image img:hover{          /*css for the change in picture done after hover on it*/
  transform: rotate(360deg); opacity: 0.75;
}

.maintext p.index-text{          /*this css is for the main text under the image which is on another div*/
  margin-top:30px;
  margin-bottom: 0px;
  font-size: 4em;
  font-family: 'Lobster', cursive;
  text-align: center;
  color: white;
}
.maintext p.index-text2{                    /*this css is for the primary text under the main text in a single div */
  font-size: 3em;
  font-family: 'Clicker Script', cursive;
  margin-bottom: 0px;
  margin-top: auto;
  text-align: center;
  color:  white;
}
.maintext p.index-text3{                        /*this css is for the secondary text under the primary text in a single div*/
  font-size: 2em;
  font-family: 'Dancing Script', cursive;
  margin-top: auto;
  margin-bottom: 1px;
  text-align: center;
  color: white;
}
