/*Anand kandel UN ID:17421480*/
body{
  background: url(../images/hellobackground.jpg);
  background-position: top;
  margin-top: 0px;
  background-size: cover;
}/*this css is for body part*/

.headtext{                              /*this is css for the div heading*/
  text-align: center;
  font-family: 'Baloo Bhaina', cursive;
  font-size: 3em;
  color: white;
  text-shadow: 1px 5px skyblue;
  padding: 0.1%;
  margin-top: 0px;
  margin-bottom: auto;
}

header {                 /*this css is for the header part*/
  padding: 0.1%;
  margin-top: auto;
}

li{
  font-size: 40px;
}

a{            /*this css removes the text decoration*/
  text-decoration: none;
}

.menubar{    /*this css is for navigation bar*/
  padding:2%;
  margin-bottom: auto;
  margin-top: 0px;
}

.menubar ul{   /*this is for unordered list of menubar*/
    list-style: none;
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    }

.menubar ul li{   /*this is for list of unordered list in menubar*/
  flex-grow: 0;
  text-align:center;
  background: linear-gradient(to bottom, #ccccff 0%, #ff99cc 100%);
  border-radius: 30px;
  padding:5px;
  border: 2px solid black;
  text-decoration: none;
}


.menubar ul li a{
  color:black;
}
.menubar ul li:hover{
  background: radial-gradient(#33adff,white);
  border-radius: 50px;

}

.article-image{  /*this is css for the div containing image*/
  height: 400px;
}

.article-image img{      /*this css is for giving a change on image*/
  margin: auto;
  display: block;
  height: 300px;
  width: 300px;
  border:2px solid black;
  border-radius: 50%;
  position: relative;
  animation-name: success;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  transition: transform 2s, opacity 2s;
}
@keyframes success {                /*this is for animation*/
  0%{left:0px; top: 0px;}
  25%{left: 300px; top: 0px;}
  50%{left: 300px; top: 120px;}
  75%{left: 0px; top: 120px;}
  100%{left: 0px; top: 0px;}
}

.article-image img:hover{          /*css for the change in picture done after hover on it*/
  transform: rotate(360deg); opacity: 0.75;
}

.maintext p.index-text{          /*this css is for the main text under the image which is on another div*/
  margin-top:30px;
  margin-bottom: 0px;
  font-size: 4em;
  font-family: 'Lobster', cursive;
  text-align: center;
  color: white;
}
.maintext p.index-text2{                    /*this css is for the primary text under the main text in a single div */
  font-size: 3em;
  font-family: 'Clicker Script', cursive;
  margin-bottom: 0px;
  margin-top: auto;
  text-align: center;
  color:  white;
}
.maintext p.index-text3{                        /*this css is for the secondary text under the primary text in a single div*/
  font-size: 2em;
  font-family: 'Dancing Script', cursive;
  margin-top: auto;
  margin-bottom: 1px;
  text-align: center;
  color: white;
}


footer{                          /*this is css for footer*/
  display:flex;
  justify-content:space-between;
  margin-top:30px;
  background: linear-gradient(to bottom, #80bfff 0%, #ff99cc 100%);
}

.copyright{             /*a css for div in footer*/
  width:45%;
  text-align: center;
  color: white;
}

.copyright1{
  border: 4px;
  text-align: center;
  border: 2px ;
  color: black;
}
.copyright p a{
  color: white;
}

.contact{                     /*a css for another div in footer*/
  width:45%;
  text-align: center;
}

.contact1{
  border: 4px;
  text-align: center;
  border: 2px ;
  color: black;
}

.contact1 img:hover{
  opacity: 0.7;
}

@media (max-width: 600px){           /*it is for making menubar responsive*/
  .menubar ul {
    flex-direction: column;
  }
}
